#SideMenu{
    height: 100vh; 
    width: 250px;
    border-right: 1px solid var(--maingray);
    padding-left: 16px;
    padding-right: 16px;
    #logo{
        font-size: 24px;
        padding: 12px;
        color: var(--mainred);
       
        p{
           color: black;
           font-weight: 700;
         
           span{
                color: var(--mainred);
             }
        }
    }
    .link{
        
        padding: 12px;
        transition:ease-in-out 400ms;
        cursor: pointer;
        &:hover{
            background-color: var(--mainyellow);
            border-radius: 16px;
        
        }
       }
    .activelinks{
        padding: 12px;
        transition:ease-in-out 400ms;
        background-color: var(--mainyellow);
    }
  
   
   
}



